# Firebase
FIREBASE_CREDENTIALS_PATH=firebase-credentials.json
FIREBASE_PROJECT_ID=medicine-verify

# JWT Auth
SECRET_KEY=ParasTiwari2649
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Tesseract (Windows example: C:/Program Files/Tesseract-OCR/tesseract.exe)
TESSERACT_CMD=C:/Program Files/Tesseract-OCR/tesseract.exe

# App
APP_ENV=development
DEBUG=true
